/* FONTS */
@font-face { /* Title Font */
    font-family: Bebas Neue;
    src: url("../Fonts/BebasNeue-Regular.ttf");
}
@font-face { /* Text Font */
    font-family: Noto Sans Glagolitic;
    src: url("../Fonts/NotoSansGlagolitic-Regular.ttf");
}

/* STYLES AND VARIABLES */
:root { /* Create Root Variables to be used in all other css files as well */
    --primary: rgba(0, 0, 0, 100%); /* Primary color of the website */
    --secondary: rgba(200, 200, 200, 100%); /* Secondary color of the website */
    --tertiary: rgba(78, 80, 85, 100%); /* Tertiary color of the website */
    --accent: rgba(255, 255, 0, 100%); /* Accent color of the website */
    --secondary-accent: rgba(28, 30, 35, 100%); /* Secondary Accent color of the website */
    --title-font: Bebas Neue; /* Font to be used by the big title in the header */
    --title-size: 5rem; /* Size to be used by the big title in the header */
    --text-font: Noto Sans Glagolitic; /* Font to be used by all text */
    --text-size: 16px; /* Text to be used by most text */
    --error-color: #bf0505; /* Color for error messages / bad things */
    --success-color: #05bf05; /* Color for success messages / good things */
    --neutral-color: #6f6f6f; /* Neutral color for descriptions that don't have to be as visible as titles */
    --products-per-column: 1; /* Ignore this, it gets changed using media queries */
}

body { /* Remove the default body styling and add a minimum height of the whole screen */
    margin: 0;
    min-height: 100vh;
    position: relative;
    background-color: var(--secondary-accent);
}

/* Change the amount of products to be displayed on the product page based on screen width */
@media (min-width: 500px) {
    :root {
        --products-per-column: 2;
    }
}
@media (min-width: 1000px) {
    :root {
        --products-per-column: 3;
    }
}
@media (min-width: 1500px) {
    :root {
        --products-per-column: 4;
    }
}
/* HEADER STYLES */
.Header {
    z-index: 2;
    background-color: var(--primary);
    color: var(--accent);
    min-height: 8rem;
    text-align: center;
}
.Header h1 {
    margin-top: 0;
    padding-top: 2rem;
    font-family: var(--title-font);
    font-size: var(--title-size);
    letter-spacing: 2px;
    margin-bottom: 2rem;
}
.HeaderNavButton {
    display: inline-block;
    flex: 1;
    border: solid var(--primary) 2px;
    border-radius: 10px;
    height: 30px;
    background-color: var(--accent);
    transition: all 0.1s ease-out;
    text-decoration: none;
    color: var(--primary);
    font-family: var(--text-font);
    font-weight: bold;
    margin: 0 1rem;
    font-size: 1.3rem;
}
.HeaderNavButton:hover {
    filter: brightness(0.8);
}

.HeaderNavContainer {
    display: flex;
    padding-bottom: 5px;
}

/* FOOTER STYLES */
.Footer {
    position: absolute;
    bottom: -6rem;
    width: 100%;
    height: 6rem;
    background-color: #333;
    text-align: center;
}
.FooterContactInfo {
    display: unset;
    margin: 0 auto;
    color: #777;
    font-family: var(--text-font);
}