.ProductContainer {
    display: grid;
    grid-template-rows: repeat(auto-fill, 1fr);
    grid-template-columns: repeat(var(--products-per-column), minmax(25%, 1fr));
}

.ProductCard {
    display: inline-block;
    background-color: var(--tertiary);
    border: solid 2px var(--accent);
    overflow: hidden;
    margin: 1rem;
    border-radius: 1rem;
    text-align: center;
    box-shadow: var(--accent) 4px 4px;
    transition: all 0.2s ease-out;
}

.ProductCard:hover {
    box-shadow: var(--accent) 0 0;
    transform: scale(102%);
}

.ProductTitle {
    margin: 15px 0 0 0;
    color: white;
    font-family: var(--text-font);
}

.ProductImg {
    width: 70%;
}

.ProductDesc {
    color: white;
    font-family: var(--text-font);
    font-size: var(--text-size);
}

.ProductPrice {
    color: white;
    font-family: var(--text-font);
    font-size: calc(var(--text-size) * 1.3);
}

.ProductOldPrice {
    text-decoration: line-through;
    color: var(--error-color);
}

.ProductNewPrice {
    color: var(--success-color);
}

.ProductButton {
    border-radius: 5px;
    border: solid black 1px;
    font-size: var(--text-size);
    font-family: var(--text-font);
    margin: 1rem;
    background-color: var(--success-color);
}

.ShoppingCartIcon {
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    filter: invert(100%);
    transition: all 0.1s ease-out;
}

.ShoppingCartIcon img {
    width: 100%;
}

.ShoppingCartIcon:hover {
    transform: scale(102%);
}

.SearchBarContainer {
    margin-top: 2rem;
    margin-bottom: 1rem;
    display: flex;
    width: 100%;
    justify-content: center;
}

.CategorySelector {
    margin-right: 1rem;
    font-size: var(--text-size);
    font-family: var(--text-font);
    border: dashed var(--accent) 2px;
    background-color: var(--primary);
    color: white;
}

.CategorySubmit {
    font-size: var(--text-size);
    font-family: var(--text-font);
    background-color: var(--primary);
    border: dashed var(--accent) 2px;
    color: white;
}